*{
    scroll-behavior: smooth;
}


.air{
    display: flex;
    justify-content: center;
    text-align: center;
}


@media only screen and (max-width: 600px) {

    #subSuccess{
    font-size: 13px;
    color: rgb(115, 240, 115);
    display: none;
}

#subWarning{
    font-size: 13px;
    color:rgb(252, 252, 134);
    display: none;
}

#subReminder{
    font-size: 13px;
    color: rgb(115, 240, 115);
    display: none;
}


    body{
        padding: 0px;
        margin: 0px;
        --mainColor: rgb(40, 39, 59);
        --subColor1: rgb(37, 37, 37);
        --faintBlack:rgba(0,0,0,0.2);
        --faintWhite:rgba(255, 255, 255, 0.349);
        font-family: roboto;
    }

    .logoDiv{
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 5px;
        border-radius: 50%;
    }

    .logo{
        height: 25px;
    }

    nav{
        height: 50px;        
        background-color:var(--mainColor);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        position: fixed;
        top: 0px;
        width: calc(100% - 10px);
        box-shadow: 0px 1px 1px 0px var(--faintWhite);
        z-index: 40;
    }

    .navLinks{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0px;
        left: 0px;
        box-shadow:0px 2px 1px 0px var(--faintWhite);
        background-color: var(--mainColor);
        color: white;
        width: 100vw;
        align-items: center;
        z-index: 400;
    }

    .navLinks>a{
        height: 30px;
        color: white;
        border: solid 1px var(--faintWhite);
        padding-bottom: 7px;
        padding-top: 7px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--mainColor);
        z-index: 0;
        text-decoration: none;
        font-size: 14px;
    }

    .navLinks>a:active{
        height: 30px;
        /* width: 100vw; */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--mainColor);
        color: white;
    }

    .navLinks>a>div{
        text-decoration: none;
    }

    .menu{
        margin-right: 10px;
        width: 40px;
        height: 40px;
        z-index: 1;
        background-color: var(--subColor1);
        border: solid 1px var(--faintWhite);
        border-radius: 5px;
    }

    .menu>img{
        filter: invert(100%);
    }

    .closeMenu{
        width: 100%;
        background-color: var(--mainColor);
        z-index: 2;
        padding-bottom: 10px;
        padding-top: 10px;
        color: white;
        font-size: 20px;
        font-weight: 500;
        border: none;
    }    

    main{
        display: flex;
        flex-direction: column;
    }

    .homepage{
        padding-top: 70px;
        height: 80px;
        margin-bottom: -20px;
    }

    .homepage>img{
        height: 100%;
        aspect-ratio: 1/1;
    }
    
    .home{
        padding-top: 30px;
    }

    section{
        background-color: var(--mainColor);
        color: white;
        font-size: 15px;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    .homeContent{
        width: 90%;
        border: 1px solid rgba(146, 146, 146, 0.671);
        border-radius: 10px;
        background-color: var(--subColor1);
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
    }

    .tokenDiv{
        background-color: var(--subColor1);
        padding: 10px;
        border-radius: 10px;
        border: solid 1px var(--faintWhite);
        width: 90%;
    }

    .tokenDiv>h3{
        color: white;
        font-size: 20px;
    }

    .tokenDiv>div{
        display: flex;
        justify-content: space-between;
        padding: 5px 0px;
    }

    .tokenomicsDiv{
        background-color: var(--subColor1);
        padding: 10px;
        border-radius: 10px;
        border: solid 1px var(--faintWhite);
        width: 90%;
    }

    .tokenomicsDiv>div{
        display: flex;
        justify-content: space-between;
        padding: 5px 0px;
    }

    .presale{
        display: flex;
        justify-content: center;
        
    }

    .presaleDiv{
        display: flex;
        width: 90%;
        justify-content: center;
        flex-direction: column;
        background-color: var(--subColor1);
        border: solid 1px var(--faintWhite);
        padding: 10px;
        border-radius: 10px;
        /* align-items: center; */
    }

    .presaleDiv>h3{
        font-size: 20px;
        width: 100%;
        text-align:start;
    }

    .preFirst{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .presaleDetail{

    }

    .preLast{
        width: 90%;
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .copy{
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--subColor1);
        border: none;
    }

    .copy:active{
        background-color: white;
        border-radius: 5px;
    }

    .copy:active >.copyImg{
        filter: invert(0%);
    }

    .copyImg{
        height: 30px;
        width: 30px;
        filter: invert(100%);
    }    

    .airdropCont{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .airdropLabel{
        font-size: 20px;
    }

    .walletInput{
        height: 30px;
        padding-left: 10px;
        border: none;
        outline: none;
        font-size: 14px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .walletInput::placeholder{
        font-size: 14px;
    }

    .subWal{
        height: 30px;
        font-size: 14px;
        font-size: roboto;
        border:none;
        border-radius: 4px;
        margin-bottom: 10px;
        background-color: rgb(212, 140, 6);
    }

    footer{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:var(--mainColor);
        border-top: solid 1px ;
        color: white;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        padding: 0px;
        margin: 0px;
        --mainColor: rgb(40, 39, 59);
        --subColor1: rgb(37, 37, 37);
        --faintBlack:rgba(0,0,0,0.2);
        --faintWhite:rgba(255, 255, 255, 0.349);
        font-family: roboto;
    }

    .logoDiv{
        height: 30px;
        width: 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 5px;
    }

    nav{
        height: 50px;        
        background-color:var(--mainColor);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        position: fixed;
        top: 0px;
        left: 0px;
        width: calc(100% - 20px);
        box-shadow: 0px 1px 1px 0px var(--faintWhite);
        z-index: 40;
    }

    .navLinks{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0px;
        left: 0px;
        /* height: 120px; */
        box-shadow:0px 2px 1px 0px var(--faintWhite);
        background-color: var(--mainColor);
        color: white;
        width: 200px;
        height: 100vh;
        align-items: center;
    }

    .navLinks>a{
        height: 30px;
        color: white;
        border: solid 1px var(--faintWhite);
        padding-bottom: 7px;
        padding-top: 7px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--mainColor);
        z-index: 2;
        text-decoration: none;
        font-size: 14px;
    }


    .navLinks>a:active{
        height: 30px;
        /* width: 100vw; */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--mainColor);
        color: white;
    }

    .navLinks>a>div{
        text-decoration: none;
    }
    
    .home{
        padding-top: 35px;
    }

    .menu{
        margin-right: 20px;
        width: 40px;
        height: 40px;
        z-index: 1;
        background-color: var(--subColor1);
        border: solid 1px var(--faintWhite);
        border-radius: 5px;
    }

    .menu>img{
        filter: invert(100%);
    }

    .closeMenu{
        width: 100%;
        background-color: var(--mainColor);
        z-index: 2;
        padding-bottom: 10px;
        padding-top: 10px;
        color: white;
        font-size: 20px;
        font-weight: 500;
        border: none;
    }    

    .homepage>img{
        height: 100%;
        aspect-ratio: 1.2/1;
    }

    .logo{
        height: 26px;
        background: transparent;
    }

    main{
        display: flex;
        flex-direction: column;
    }
    
    section{
        background-color: var(--mainColor);
        color: white;
        font-size: 15px;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    .homepage{
        padding-top: 70px;
        height: 90px;
        padding-bottom: 20px;
    }
    
    .home{
        padding-top: 10px;
    }

    .homeContent{
        width: 90%;
        max-width: 500px;
        border: 1px solid rgba(146, 146, 146, 0.671);
        border-radius: 10px;
        background-color: var(--subColor1);
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
    }

    .tokenDiv{
        background-color: var(--subColor1);
        padding: 10px;
        border-radius: 10px;
        border: solid 1px var(--faintWhite);
        width: 90%;
        max-width: 500px;
        /* box-shadow: 1px 1px 1px 0px var(--faintWhite) , */
        /* -1px -1px 1px 0px var(--faintWhite) ; */
    }

    .tokenDiv>h3{
        color: white;
        font-size: 20px;
    }

    .tokenDiv>div{
        display: flex;
        justify-content: space-between;
        padding: 5px 0px;
    }

    .tokenomicsDiv{
        background-color: var(--subColor1);
        padding: 10px;
        border-radius: 10px;
        border: solid 1px var(--faintWhite);
        width: 90%;
        max-width: 500px;

    }

    .tokenomicsDiv>div{
        display: flex;
        justify-content: space-between;
        padding: 5px 0px;
    }
    .presale{
        display: flex;
        justify-content: center;        
    }

    .presaleDiv{
        display: flex;
        width: 90%;
        justify-content: center;
        flex-direction: column;
        background-color: var(--subColor1);
        border: solid 1px var(--faintWhite);
        padding: 10px;
        border-radius: 10px;
        /* align-items: center; */
        max-width: 500px;
    }

    .presaleDiv>h3{
        font-size: 20px;
        width: 100%;
        text-align:start;
    }

    .preFirst{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .presaleDetail{
        /* width: 100%; */
        /* text-align: center; */
    }

    .preLast{
        width: 90%;
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .copy{
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--subColor1);
        border: none;
    }

    .copy:active{
        background-color: white;
        border-radius: 5px;
    }

    .copy:active >.copyImg{
        height: 30px;
        width: 30px;
        filter: invert(0%);
    }

    .copyImg{
        height: 30px;
        width: 30px;
        filter: invert(100%);
    }

    .airdropCont{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .airdropLabel{
        font-size: 20px;
    }

    .walletInput{
        height: 40px;
        padding-left: 10px;
        border: none;
        outline: none;
        font-size: 16px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .walletInput::placeholder{
        font-size: 16px;
    }

    .subWal{
        height: 30px;
        font-size: 16px;
        font-size: roboto;
        border:none;
        border-radius: 4px;
        margin-bottom: 10px;
        background-color: rgb(212, 140, 6);
    }

    footer{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:var(--mainColor);
        border-top: solid 1px ;
        color: white;
    }


}
